body {
    background-image: url('img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
img {opacity: 0.5;}
.container {
    width: 100vw;
    height: 100vh;
    align-content: center;
    text-align: center;
}
.titulo {
    font-size: 50pt;
    color: red;
}
.texto {
    font-size: 25pt;
}