body {
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 100vw;
    height: 100vh;
    align-content: center;
    text-align: center;
}
.titulo {
    font-size: 50pt;
    color: rgb(17, 15, 15);
}
.texto {
    font-size: 25pt;
}